<ion-header>
    <ion-toolbar>
        <ion-title>{{ codigo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <a [routerLink]="['/']"> Atras </a>
    <button (click)="presentToastWithOptions()">Toast</button>
    <button (click)="presentAlertRadio()">Alert</button>

    <div>
        <div>
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
        </canvas>
            </div>
        </div>
    </div>
</ion-content>